body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button {
  margin: 0;
  padding: 0;
}
body, th, td, input, select, textarea, button {
  font-size: 14px;
  line-height: 1.5;
  font-family: HelveticaNeue,tahoma,Apple SD Gothic Neo,Malgun Gothic,\b9d1\c740 \ace0\b515,dotum,\b3cb\c6c0,sans-serif;
  color: #333;
}
html, body, .kakaoWrap {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
}
body, html {
  min-height: 100vh;
}
ul,li{
  list-style: none;
}
a{text-decoration: none;}
input:focus{
  outline: none;
}
button {
  background: none; 
  border: none;     
  box-shadow: none;
  border-radius: 0; 
  padding: 0; 
  margin: 0;       
  cursor: pointer; 
  font: inherit; 
  color: inherit;
}
address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: 400;
}

.mb30{
  margin-bottom: 30px;
}

/* .ico_info {
  width: 16px;
  height: 16px;
  margin-top: 0;
} */
.ico_store {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-size: 1px;
  line-height: 0;
  background: url(../img/neukkimpyo.png) no-repeat 0 0;
  background-size: cover;
  vertical-align: middle;
}
.ico_star{
  display: inline-block;
  font-size: 1px;
  line-height: 0;
  background-image: url(../img/star_icon.png) no-repeat 0 0;
  background-size: cover;
  width: 10px;
  height: 11px;
}
.txt_store{
  color: #767676;
}
.txt_name,
.wrap_metadata{
  display: flex;
  flex-direction: column;
  color: #2E2E2E;
}
.emph_price{
  font-size: 17px;
  font-weight: 700;
  color: #191919;
}
/* .txt_sale{
  font-size: 17px;
  color: red;
  font-weight: 700;
} */
.txt_star {
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  color: #767676;
  letter-spacing: -.04em;
  vertical-align: top;
}
.txt_review{
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  color: #767676;
  letter-spacing: -.04em;
  vertical-align: top;
}
.bar_review{
  display: inline-block;
  width: 1px;
  height: 6px;
  margin: 5px 4px 0;
  background-color: rgba(12,12,12,.12);
  vertical-align: top;
}

#wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  width: 100%;
  background-color: #fff;
  height: 50px;
  z-index: 100;
}
.inner_head{
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.06);
  /* position: fixed; */
  width: 100%;
  background-color: white;
  /* top: 0; */
}

.inner_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
.tit_logo{
  padding-top: 5px;
}
.link_logo img{
  width: 95px; height: 25px;
}

.tit_r{
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 16px; /* 헤더 오른쪽 그룹(아이콘 묶음과 로그인) 사이 간격 - 보기 좋게 여유를 둠 */
}

.menu_util{
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px; /* 아이콘들 사이 간격 - px 단위 지정(이전엔 단위 누락) */
  padding-right: 20px;
}
.menu_util::after {
  position: absolute;
  right: 0;
  top: 5px;
  width: 1px;
  height: 22px;
  background-color: rgba(34,34,34,.2);
  content: "";
}
.menu_util img{
  width: 28px;
  height: 28px;
}

.login a{
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.title_wrap{
  text-align: center;
  padding: 20px 0;
}
.title_wrap img{width: 200px;}

.menu-list{
  display: flex;
  gap: 15px;
}
.menu-list a{
  min-width: auto;
  height: 48px;
  padding: 0 3px;
  font-weight: 400;
  font-size: 15px;
  line-height: 48px;
  color: #000;
}
.menu-list li.on{
  border-bottom: 2px solid #82C91E;
}
.menu-list li.on a{
  font-weight: bold;
}

.search-bar{
  position: relative;
  padding: 5px 35px 5px 15px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
.search-bar input{
  border: none;
}
.search-bar .btnse {
  position: absolute;
  top: 5px;
  right: 0;
  width: 30px; height: 30px;
  height: inherit;
}
.search-bar .btnse img{
  width: 20px; height: 20px;
}

main{flex: 1}

.main-slider{
  max-width: 1280px;
  border-radius: 12px;
  border:1px solid #ccc;
  background-color: gray;
  margin: 0 auto;
  height: 420px;
  margin-top: 30px;
}
.area_brandstore {
  position: relative;
  width: 750px;
  margin: 0 auto;
  padding: 30px 0;
}
.bunch_g{
  /* padding-bottom: 40px; */
  border-bottom: 8px solid #f7f7f7;
}
.list_product {
  overflow-x: auto;
  position: relative;
  padding-bottom: 30px;
  display: flex;
  /* gap: 5; */
  /* margin-top: 20px; */
}
.list_product > li{
  box-sizing: border-box;
  width: 158px;
  margin: 0 4px;
}
.list_product > li .themd{
  position: relative;
  width: 150px;
  height: 150px;
}
.list_product > li .themd::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0,0,0,.03);
  border-radius: 8px;
  background-color: rgba(0,0,0,.02);
  content: "";
}
.list_product > li .themd img{
  width: 100%;
  border-radius: 8px;
}
.list_product > li .wrap_metadata{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.list_product2{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list_product2 > li{
  height: 150px;
  display: flex;
  align-items: center;
  /* padding: 0 20px; */
}
.list_product2 > li .area-thumb{
  margin-right: 20px;
}
.list_product2 > li .area-thumb img{
  border-radius: 8px;
}

/*무료배송*/
.badge_other{
  max-width: 45px;
  background-color: rgba(0,0,0,.06);
  color: #595959;
  font-size: 11px;
  margin-right: 3px;
  padding: 3px 5px;
  border-radius: 5px;
  text-align: center;
}
.more{
  width: 100%;
  display: block;
  height: 45px;
  margin: 18px 0 28px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 45px;
  background-color: #f4f5f6;
  text-align: center;
}
/* .name_product {
  white-space: normal;
  font-size: 15px;
  line-height: 19px;
  max-height: 40px;
  text-overflow: ellipsis;
  letter-spacing: -.04em;
  word-break: break-word;
} */

.tit_head{
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  color: #222;
  letter-spacing: -.04em;
  vertical-align: top;
}
.store-product{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
.list-wrap{
  width: 722px;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 30px; */
}
.list-wrap .list{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 18px; */
}
.list-wrap .list  > img {
  width: 54px;
  border-radius: 12px;
}
.list-wrap .list p{
  font-size: 11px;
  color: #666;
  padding-top: 6px;
  margin: 0;
}

footer{
  border-top: 1px solid #ddd;
  background-color: #fafafa;
}
.inner_foot{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}
.inner_foot .tit_logo{
  width: 90px;
  margin-right: 40px;
}
.inner_foot .tit_logo img{
  width: 100%;
}
.inner_foot .service_info {
  position: absolute;
  right: 0;
  top: 20px;
}
.inner_foot .service_info > ul{
  display: flex;
  gap: 8px;
}
.inner_foot .service_info > ul > li > a{
  font-size: 11px;
  color: #2e2e2e;
}

.txt_copyright{
  display: block;
  margin: 8px 0;
}