/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.img-wrap{
  display: flex;
}
.img-wrap .cat{
  width: 300px;
}

/* mobile : 345px ~ 767px */
@media screen and (min-width: 345px) and (max-width: 767px) {
  .img-wrap{
    flex-wrap: wrap;
  }
  .img-wrap .cat{
    width: 50%;
  }
}

/* tablet : 768px ~ 1279px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .img-wrap{
    gap: 10px;
  }
  .img-wrap .cat{
    width: calc(100% / 3);
  }
}

/* desktop : 1280px ~ */
@media screen and (min-width: 1280px) {
  .img-wrap{
    flex-direction: column;
  }
}

/*min-width : 최소 width
  max-width : 최대 width
*/