.image-wrapper{
  width: 500px;
}
.image{
  width: 100%;
  padding-top: calc(100% / 3*2);  /*Rendered aspect ratio: */
  border:1px solid black;
  background-color: gray;
  background-image: url("../img/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}