
#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px; 
  /* height: 348px; */
  border: 4px solid #000;
  /* height: 100vh; */
  margin: 0 auto;
}
.box-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 30px;
  width: 200px;
}

.box-wrap .box{
  width: 100%;
  height: 100px;
  background-color:rgb(116, 98, 236);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}



#wrapper2{
  border: 4px solid #000;
  margin: 0 auto;
  padding: 20px;
}
.box-wrap2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  width: 204px;
  
}
.box-wrap2 .box{
  width: 100%;
  height: 100px;
  background-color: rgb(210, 72, 30);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


