/* * {
  box-sizing: border-box;
} */

#wrapper2{
  border: 4px solid #000;
  margin: 0 auto;
  padding: 20px;
  width: 410px;
  /* height: 320px; */
}
.box-wrap2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 410px;
  gap: 10px;
}
.box-wrap2 .box{
  width: 200px;
  height: 100px;
  background-color: orangered;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


