#flex-wrap {
  display: flex;
  flex-direction: row;
  /* width: 204px; */
  gap: 4px;
  border: 1px solid #000;
}

.item{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}

.item:nth-child(2){
  order: -1;
}
.item:nth-child(3){
  order: 1;
}
.item:nth-child(4){
  order: 3;
  /* flex-grow: 1; */
}
.item:nth-child(5){
  order: 2;
}
.item:nth-child(6){
  order: 4;
}